/* 全体のリセット */
body {
  background-color: #0f172a;
  color: #f8fafc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 上に詰める */
  min-height: 100vh;
  padding-top: 30px;
}

.app {
  width: 90%;
  max-width: 400px;
}

/* 記録を表示するカード */
.status-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-bottom: 24px;
}

.status-item {
  background: #334155;
  padding: 16px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.status-item p {
  font-size: 12px;
  margin: 0;
  color: #94a3b8;
}

#todayWorkout, #debtWorkout, #scheduleMoney, #totalMoney {
  font-size: 24px;
  font-weight: bold;
  display: inline;
  margin-top: 8px;
}

.item {
  font-size: 14px;
  display: flex;
  gap: 8px;
  align-items: baseline;
}

/* タブボタン */
.tab-btn {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  flex: 1;
  text-align: center;
}

.btn a {
  display: block;
  padding: 12px 0;
  background-color: #fff;
  color: #181716;
  text-decoration: none;
  font-weight: bold;
  border-radius: 15px 15px 0 0; /* 上だけ丸く */
  margin-right: 1px;
}

.btn:last-child a {
  margin-right: 0;
}

.btn a.is-active {
  background-color: #ececec;
}

/* タブコンテンツエリア */
.tab-contents-item {
  display: none;
  width: 100%;
  box-sizing: border-box; /* はみ出し防止 */
}

.tab-contents-item.is-active {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ececec;
  padding: 20px;
  border-radius: 0 0 20px 20px; /* 下だけ丸くして合体 */
}

/* ボタンのデザイン */
.actions button {
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

button:nth-child(1) { background: #4C9141; color: white; }
button:nth-child(2) { background: #F15B55; color: white; }
button:nth-child(3) { background: #38BDF8; color: white; }
button:active { transform: scale(0.95); opacity: 0.8; }

h1 { font-size: 20px; text-align: center; margin-bottom: 24px; color: #38bdf8; }
