/* 全体のリセット */
body {
  background-color: #0f172a;
  color: #f8fafc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* スクロールさせない */
}

/* アプリのコンテナ */
.app {
  width: 90%;
  max-width: 400px;
  background: #1e293b;
  padding: 24px;
  border-radius: 32px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.3);
  border: 1px solid rgba(255,255,255,0.1);
}

.details {
  transition: .3s;
  overflow: hidden;
  margin-top: -10px;
  padding-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.details[open] {
  margin-top: 0;
  padding-bottom: 10px;
} 
.details-summary {
  display: block;
  padding: 15px;
  transition: .3s;
  transform: translateY(10px);
  background-color: #00a5a0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  &:hover {
    cursor: pointer;
  }
}
.details-summary::-webkit-details-marker {
  display: none;
}
.details[open] .details-summary {
  transform: translateY(0);
}
.details-content {
  dding: 20px;
  ckground-color: #bee1de;
  rder-bottom: 2px solid #00a5a0;
  rder-left: 2px solid #00a5a0;
  rder-right: 2px solid #00a5a0;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 24px;
  letter-spacing: 2px;
  color: #38bdf8;
}

h2 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
  letter-spacing: 2px;
  color: #38bdf8;
}

/* 記録を表示するカード */
.status-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-bottom: 24px;
}

.status-item {
  background: #334155;
  padding: 16px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.status-item p {
  font-size: 12px;
  margin: 0;
  color: #94a3b8;
}

#todayWorkout,
#debtWorkout,
#scheduleMoney,
#totalMoney {
  font-size: 24px;
  font-weight: bold;
  display: inline;
  margin-top: 8px;
}

.item {
  font-size: 14px;
  font-weight: normal;
  display: flex;
  gap: 8px;
  align-items: baseline;
}

/* ボタンのデザイン */
.actions button {
  width: 100%;
  padding: 18px;
  margin-bottom: 12px;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

/* 新規投稿 */
button:nth-child(2) {
  background: transparent;
  color: #38bdf8;
  border: 2px solid #38bdf8;
}

/* 筋トレ */
button:nth-child(3) {
  background: #4C9141;
  color: #38bdf8;
}

/* 借金 */
button:nth-child(4) {
  background: #F15B55;
  color: white;
}

/* 押した時のアニメーション */
button:active {
  transform: scale(0.95);
  opacity: 0.8;
}
